html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 144px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.buttons-pane {
    display: flex;
}
.centered {
    text-align: center;
    padding-bottom: 10px;
}
.color-gray {
    color: lightgray;
}
.container {
    max-width: 700px;
    padding-top: 20px;
    z-index: 100;
    position: relative;
    margin: auto;
}
.flex-item {
    flex-grow: 1;
}
.float {
    float: left;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 144px;
    background-color: #f5f5f5;
}
.iframe {
    border: 1px dotted grey;
    overflow: hidden;
}
.inline-icon {
    font-size:40px;
}
.left-corner {
    text-align: left;
    padding-bottom: 5px;
}
.margin-left {
    margin: 3px 3px 5px 0px;
}
.margin-right {
    margin: 3px 0px 5px 3px;
}
.newline {
    clear: left;
    padding-top: 10px;
}
.qr-code {
    width: 44px;
    height: 44px;
}
.right-corner {
    text-align: right;
    padding-bottom: 5px;
}
div.center {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.hide-images {
    visibility: hidden;
    width: 10000px;
}
a.headerlink {
    visibility: hidden;
}
table.social {
    position: absolute;
    left: 5px;
    top: 15px;
}
table.social td {
    padding: 3px;
}
td.date-field:hover > a.headerlink {
    visibility: visible;
    color: #444;
}
td.date-field {
    white-space: nowrap;
}
td.place-field {
    /*min-width: 260px;*/
    /*text-align: justify;*/
}
td.rowspan {
    vertical-align: middle;
}
th, td {
    padding: 5px;
    vertical-align: top;
}
th {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
}
#centered-icons {
    position: absolute;
    left: 5px;
    bottom: 35%;
    z-index: 2;
}
#dot-matrix {
    background: url(/static/img/dot.png);
    opacity: 0.1;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1
}
#photo {
    float: left;
    max-width: 100%;
    height: auto;
    border: 0;
    margin: 0px 30px 10px 0px;
}
#table {
    padding: 10px;
}
#update-date {
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-size: 10px;
    color: gray;
    padding: 5px;
}
#visitorsmap {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
}
