{% extends 'layout.html' %}
{% block content %}
<h2 class="centered">{{title}}:</h2>
<h4 class="centered">Here is a list of available CV files:</h4>
<div class="buttons-pane">
    <div class="flex-item centered">
        {% for k, v in data.items() %}
        <a class="btn btn-default btn-{{v['button_type']}} btn-md margin-left" href="/cv/{{v['orig_name']}}" target="_self">{{v['long_name']}}</a>
        {% endfor %}
    </div>
</div>
<h4 class="centered">
    See LaTeX source of my CV on <a href="https://github.com/mrakitin/CV" target="_blank" title="LaTeX source of my CV on GitHub"><span class="fa fa-github"></span></a>
</h4>
{% endblock %}
