{% extends 'layout.html' %}
{% block content %}
<h2 class="centered">Welcome to {{owner}}'s web page!</h2>
<div class="row">
    <div class="col-md-5">
        <img class="img-responsive" src="/static/img/photo.jpg" alt="{{owner}}">
    </div>
    <div class="col-md-5">
        <ul>
            <li>{{owner}}'s <a href="/cv"><b>CV</b></a></li>
            <li>{{owner}}'s <a href="/projects"><b>projects</b></a></li>
            <li>{{owner}}'s <a href="/presentations"><b>presentations</b></a></li>
            <li>{{owner}}'s <a href="/publications"><b>publications</b></a></li>
        </ul>
        <hr>
        <h3>Useful links:</h3>
        <ul>
            <li>Weather in <a href="/weather"><b>Nesconset, NY</b></a></li>
            <li>Weather in <a href="/myweather"><b>your location</b></a>
            <li>Your <a href="/ip"><b>IP info</b></a></li>
            <li><a href="/bokeh"><b>Bokeh example</b></a></li>
        </ul>
    </div>
</div>

<div class="newline">
    <hr>
    <div class="section" id="links">
        <h3 class="centered">Learn more about my work:</h3>
        <div class="pocoo-powered">
            <div class="hide-images">
                {% for t in social.keys() %}{% for k, v in social[t].items() %}{% if v['icon'] %}
                <a class="reference external image-reference" href="{{v['link']}}" target="_blank"><img alt="{{v['description']}}" src="{{v['icon']}}" /></a>
                {% endif %}{% endfor %}{% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
