{% extends 'layout.html' %}
{% block content %}
<h2 class="centered">Selected {{title.lower()}}:</h2>
<table>
    <tr>
        <th>Date:</th>
        <th>Title:</th>
        <th>Place:</th>
    </tr>
    {% for k, v in data.items() %}
    <tr>
        <td class="date-field" id="{{k}}">{{k}}
            <a class="headerlink" href="#{{k}}" title="Permalink to this headline">¶</a>
        </td>
        <td><a href="{{v['link']}}" target="{{target}}">{{v['title']}}</a></td>
        <td class="place-field">{{v['place']}}</td>
    </tr>
    {% if 'example' in v %}
    <tr>
        <td></td>
        <td colspan="2" class="centered">Example:<br>
            {% if 'link' in v['example'] %}
            <iframe class="iframe" width="{{v['example']['width']}}" height="{{v['example']['height']}}" src="{{v['example']['link']}}" scrolling="no"></iframe>
            {% endif %}
            {% if 'image' in v['example'] %}
            <img width="{{v['example']['width']}}" height="{{v['example']['height']}}" src="{{v['example']['image']}}">
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>

{% endblock %}
